body{
    background-color: lightgray;
}

#titulo{
    text-align: center;
    padding: 0%;
    font-size: 50px;
    font-family: 'Optima';
    color: black;
}

#display{
    overflow-y: scroll;
    padding: 10px;
    top: 10px;
    float: center;
    width: auto;
    height: 400px;
    border: black 1px solid;
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 30%;
    font-family: 'Optima', cursive;
    background-color: lightblue;
    color: black;
}

#msg_entry{
    float: center;
    width: 38.5%;
    margin-top: 5px;
    margin-right: 30%;
    margin-left: 30%;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Optima', cursive;
}

#nick{
    width: 190px;
    border-radius: 10px;
    border: black 1px line;
    margin-top: 5px;
    margin-bottom: 15px;

}

#divusuario{
    position: absolute;
    color: black;
    padding: 5px;
    top: 160px;
    width: 200px;
    height: 300px;
    border: black 1px solid;
    border-radius: 10px;
    background-color: lightblue;
    font-family: 'Optima', cursive;
}