body{
   background-color: white;
}

.cabecera{
  width: 99%;
  height: auto;
  border:1px solid black;
  background-color: black;
  margin: 5px;
} 

.logocabecera{

   margin:auto;
   display:block;
}




