body{
   background-color: white;
}

.cabecera{
  width: 99%;
  height: auto;
  border:1px solid black;
  background-color: black;
  margin: 5px;
  border-radius: 8px;
} 

.logocabecera{
   margin:auto;
   display:block;
}

.contenedorprincipal{
   width: 99%;
   height: auto;
   margin: 5px;
   border-radius: 8px;
}

.contenedormen{
   width: 49%;
   height: 500px;
   margin: 2px;
   float: left;
}

.imagenmen{
   width:100%;
   height: 100%;
   border-radius: 8px;
}

.contenedorwomen{
   width: 49%;
   height: 500px;
   margin: 2px;
   float: right;
}

.imagenwomen{
   width:100%;
   height: 100%;
   border-radius: 8px;

}

.shopmen{
   width: 115px;
   height: auto;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 25%;
   background-color: white;
   border-radius: 20px;
   transform: translate(-50%, -50%);
   font-size: 18px;
}

.shopwomen{
   width: 130px;
   height: auto;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 75%;
   background-color: white;
   border-radius: 20px;
   transform: translate(-50%, -50%);
   font-size: 18px;
}

	
.imagenmen:hover {filter: opacity(.75);}
	
.imagenwomen:hover {filter: opacity(.75);}



